DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxx
AWS_ACCESS_KEY_ID='AKxxxxxxxxxxxx'
AWS_SECRET_ACCESS_KEY='xxxxxxxxxxxxxxxxx'
AWS_REGION='us-east-1'
OPEN_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxx
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxx
HF_API_BASE_PHI4="https://router.huggingface.co/nebius/v1"
HF_API_BASE_GEMMA3="https://router.huggingface.co/nebius/v1"
HF_API_BASE_DEEPSEEK_QWEN_8B="https://router.huggingface.co/novita/v3/openai"   
HF_API_BASE_DEEPSEEK_QWEN_1_5B="https://router.huggingface.co/nscale/v1"   
HF_API_BASE_Qwen3_0_6B="https://router.huggingface.co/hyperbolic/v1" 
